/* header */
.header-pc-tablet{
    position: absolute;
    width: 100%;
    z-index: 1;
}
.header-top{
    height:48px;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    opacity: 0.8;
    padding: 4px 100px;
    background-color: #060618;
    
}

.header-top-left-img-1{
    margin-right: 30px;
}

.header-top-right-item{
    font-family: 'Prompt';
    font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
text-align: center;
letter-spacing: 0.3em;
text-transform: uppercase;

color: #FFFFFF;
}

.header-top-right-item.item-1, .header-top-right-item.item-2{
    border-right: 1px solid #FFFFFF;
    padding-right: 11px;
    margin-right: 16px;
}

.header-main{
    text-align: center;
    margin-top:80px;
}

.logo-header-main{
    margin-bottom: 30px;
}

.header-main-menu-item{
    margin-right:40px;
}

.header-logo{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #060618;
    opacity: 0.8;
    padding: 10px 14px;
}

/* baner */
.banner{
    position: relative;
    height:999px;
}

.bg-banner{
    opacity: 0.5;
   
}

.bg-banner img{
    max-width: 100%;
    height: 999px;
}

.content-banner{
    position: absolute;
    bottom: 0;
    text-align:center;
    max-width: 100%;
    width: 100%;
    padding-bottom: 65px;
    background: linear-gradient(180deg, rgba(6, 6, 24, 0) 0%, #060618 100%);
}

.content-banner-title{
    margin: 0 auto;
    max-width: 550px;
    line-height: 115.3%;
    text-shadow: 0px 0px 5px rgba(214, 179, 95, 0.9);
}

.content-banner-text{
    margin: 7px auto 36px auto;
    max-width:645px;
}

.btn-content-banner{
    display: flex;
    justify-content:center;
}

.btn-content-baner-left, .btn-content-baner-right{
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.3em;
    text-transform: uppercase;
color: #FFFFFF;
    width: 216px;
    height:60px;
    max-height: 60px;
   
border-radius: 5px;
}

.btn-content-baner-left{
    border: 1px solid #D1AF5B;
    color: #D1AF5B;
    margin-right: 20px;
}

.btn-content-baner-right{
    color: #12100E;
    background: #D1AF5B;
border-radius: 5px;
text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
}
/* special */
.special{
    /* display: flex;
    justify-content: center; */
}

.warp-special{
    max-width: 1256px;
    margin: 0 auto;
    position: relative;
    
}

.banner-special{
    position: relative;
}

.bg-banner-special{
    max-width:100%;
    opacity: 0.8;
}

.cai-dia-special{
    position: absolute; 
    right: -150px;
    max-width: 100%;
}

.content-special{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50px;
    z-index: 1;
}

.content-special-title{
    text-shadow: 0px 0px 5px rgba(214, 179, 95, 0.9);
    max-width: 376px;
    text-align: unset;
}

.content-special-text{
    max-width:481px;
    text-align:unset;
    margin: 15px 0 32px 0
}

.btn-content-special{
    display: flex;
    align-items: center;
}

.btn-content-special-left, .btn-content-special-right{
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.3em;
    text-transform: uppercase;
color: #FFFFFF;
    width: 216px;
    height:60px;
    max-height: 60px;
   
border-radius: 5px;
}
.btn-content-special-left{
    border: 1px solid #D1AF5B;
    color: #D1AF5B;
    margin-right: 20px;
}

.btn-content-special-right{
    color: #12100E;
    background: #D1AF5B;
border-radius: 5px;
text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
}


.nav-special{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-special .swiper-pagination{
    position:unset;
    width: unset;
}

.nav-special i{
    margin: 60px 0;
    font-size:40px;
    color:whitesmoke
}

.nav-special i:hover{
    cursor: pointer;
    background: linear-gradient(180deg, #D9AE46 0%, #E4BF72 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0 40px;
}

.pagination-sepical-text .swiper-pagination-bullet:hover{
    text-shadow: 0px 0px 5px rgba(214, 179, 95, 0.9);
}

.pagination-sepical-text .swiper-pagination-bullet{
    background: none;
    width:unset;
    height:unset;
    opacity: unset;
    border-radius: 0;
    font-family: 'iCielBC Copperplate';
    font-size: 31.7849px;
line-height: 32px;letter-spacing: 0.3em;
text-transform: uppercase;
color: #F1E9D3;
}

.pagination-sepical-text  .swiper-pagination-bullet-active{
    background: linear-gradient(180deg, #D9AE46 0%, #E4BF72 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

/* magic */

.magic{
  
    margin: 80px 0;
    display: flex;
    justify-content: center;
}

.swiper-wrapper .swiper-slide {
    overflow: hidden;
}


.wrap-magic .magic-title{
    text-shadow: 0px 0px 5px rgba(214, 179, 95, 0.9);
    font-size: 72px;
    line-height: 72px;
    letter-spacing: 0.1em;
    max-width: 418px;
    margin: 0 auto;
}

.wrap-magic .wrap-magic-content{
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrap-magic-content .title-content{
    flex: 1 1 0;
    font-family: 'iCielBC Copperplate';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 72px;
    text-align: right;
    text-transform: uppercase;
    color:#F1E9D3
}

.wrap-magic-content .thumbnail-content{
    position: relative;
    margin: 0 80px;
    flex: 1 1 0;
}

.thumbnail-content i{
    z-index: 1;
    font-size: 40px;
    color: whitesmoke;
}

.thumbnail-content i:hover{
    cursor: pointer;
    background: linear-gradient(180deg, #D9AE46 0%, #E4BF72 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.thumbnail-content .swiper-prev-magic{
    position: absolute;
    left: 44px;
    top: 43%;
}
.thumbnail-content .swiper-next-magic{
    position: absolute;
    right: 44px;
    top: 43%;
}

.wrap-magic-content .text-context{
    flex: 1 1 0;
}

.wrap-magic-content .text-context p {
    max-width:442px;
    text-align: left;
    margin-bottom: 32px;
}

.wrap-magic-content .text-context .btn-content-magic{
    color: #12100E;
    background: #D1AF5B;
    border-radius: 5px;
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    width: 216px;
    height: 60px;
    max-height: 60px;
    border-radius: 5px;
}
/* awesome */
.awesome{
    display: flex;
    justify-content: center;
}

.wraper-awesome .title-awesome{
    font-size: 72px;
    line-height: 72px;
    text-shadow: 0px 0px 5px rgba(214, 179, 95, 0.9);
}

.wraper-awesome .title-legacy{
    text-shadow: 0px 0px 5px rgba(214, 179, 95, 0.9);
    font-size: 72px;
    line-height: 72px;
    margin: 100px 0 50px 0;
}


.wraper-awesome .text-awesome{
    max-width: 600px;
    margin: 24px auto 58px auto;
}

.info-awsome{
    margin: 0 auto;
    display: flex;
    justify-content:center;
   
}

.info-awsome .info-awesome-item{
    /* width:25%; */
    padding: 0 15px;
}

.info-awsome .info-awesome-item img{
    width:100%
}

.info-awesome-item .info-awesome-item-name{
    font-family: 'Spectral';
    font-weight: 600;
    font-size: 32px;
    line-height: 49px;
    text-shadow: 0px 0px 5px rgba(214, 179, 95, 0.9);
   
}

.info-awesome-item .info-awesome-item-job{
    font-weight: 600;
    text-transform: uppercase;
}

.info-legacy{
    margin: 0 auto;
    display: flex;
    justify-content:center;
}

.info-legacy .info-legacy-item{
    /* width:25%; */
    padding: 0 15px;
}

.info-legacy .info-legacy-item img{
    width:100%
}

.info-legacy-item .info-legacy-item-name{
    font-family: 'Spectral';
    font-weight: 600;
    font-size: 32px;
    line-height: 49px;
    text-shadow: 0px 0px 5px rgba(214, 179, 95, 0.9);
  
}

.info-legacy-item .info-legacy-item-job{
    font-weight: 600;
    text-transform: uppercase;
}
/* event */
.event{
    margin-top: 100px;
    position: relative;
}

.wrapper-event{
    position: relative;
    display:flex;
    overflow-x: scroll;
  /* white-space: nowrap; */
}

.wrapper-event::-webkit-scrollbar{
    width:1161px;
    height:7px;
    background: #3D3D3D;
    border-radius: 10px;
}
.wrapper-event::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #D9AE46 0%, #E4BF72 100%);
}

.wrapper-event .wrapper-event-title-1{
    position: absolute;
    max-width: 245px;
    left: 19%;
    top: 40%;
    text-align: left;
    font-size: 72px;
line-height: 72px;
text-shadow: 0px 0px 5px rgba(214, 179, 95, 0.9);
z-index: 1;

}
.wrapper-event .wrapper-event-title-2{
    position: absolute;
    top: 60%;
    left: 65%;
    font-size: 72px;
    text-shadow: 0px 0px 5px rgba(214, 179, 95, 0.9);
line-height: 72px;
z-index: 1;
}
.wrapper-event .wrapper-event-title-3{
    position: absolute;
    top: 25%;
    right: -45%;
    font-size: 72px;
    text-shadow: 0px 0px 5px rgba(214, 179, 95, 0.9);
line-height: 72px;
z-index: 1;
}

.wrapper-event .event-col{
    padding: 0 20px;
}

.wrapper-event .event-col-1{
    margin-top: 116px;
}

.wrapper-event .event-col-4{
    margin-top:44px;
}

.wrapper-event .event-col-4{
    margin-top: 46px;
}

.wrapper-event .event-col-5{
    margin-top: 44px;
}

.wrapper-event .event-col-1 .img-2-event-col-1{
    float: right
}

.img-1-event-col-1, .img-1-event-col-2 , .img-1-event-col-3, .img-1-event-col-4, .img-1-event-col-5, .img-1-event-col-6{
    margin-bottom: 26px;
}

.event-col-1, .event-col-3, .event-col-5{
    position: relative;
}
.event-col-1 h2, .event-col-3 h2, .event-col-5 h2{
    position: absolute;
}  
.event-col-1 .event-col-1-title{
    color: #DCC37D;
    max-width:245px;
    z-index: 1;
    top: 140px;
    right: -185px;
    text-align: left;
    text-shadow: 0px 0px 2.85602px rgba(214, 179, 95, 0.9);
}
.event-col-3 .event-col-3-title{
    color: #DCC37D;
    bottom: 250px;
    max-width: 300px;
    right: -160px;
    text-align: left;
    text-shadow: 0px 0px 2.85602px rgba(214, 179, 95, 0.9);
}
.event-col-5 .event-col-5-title{
    color: #DCC37D;
    max-width: 340px;
    text-align: left;
    top: 150px;
    right: -200px;
    text-shadow: 0px 0px 2.85602px rgba(214, 179, 95, 0.9);
}
/* about */
.about{
    margin: 180px 0;
    overflow: hidden;
}

.about .title-about{
    margin-left: 165px;
    margin-bottom: 80px;
    font-size: 72px;
line-height: 72px;
    max-width:768px;
    text-align:left;
    text-shadow: 0px 0px 5px rgba(214, 179, 95, 0.9);
}

.warrper-about{
    margin-left: 165px;
    display: flex;
    /* overflow:hidden */
    animation: marquee 30s linear infinite;
}

.warrper-about:hover{
    animation-play-state: paused;
}

@keyframes marquee{
    0%{
       transform: translateX(0)
    }
    100%{
        transform: translateX(-100%)
    }
}


.card-item-about{
    max-width:1082px;
    padding: 32px 32px 32px 133px;
    margin-right: 156px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content:center;
    background: #21212F;
border-radius: 20px;
}
.card-item-about .cai-dia-about{
    position: absolute;
    top: -40px;
    left: -100px;
}

.card-item-about .content-card-item-about{
    width: 50%;
}

.card-item-about .thumbnail-card-item-about{
    margin-left: 30px;
}

.card-item-about .thumbnail-card-item-about img{
    /* width: 100%; */
}

.content-card-item-about .title{
    margin-bottom: 12px;
    font-weight: 600;
font-size: 24px;
line-height: 37px;
letter-spacing: 0.1em;
text-align: left;
}

.content-card-item-about .text{
    text-align: left;
    margin-top: 30px;
    margin-bottom: 50px;
}

.content-card-item-about .play-music{
    display:flex;
    align-items: center;
}

.content-card-item-about .play-music .line-play-music{
    width: 442px;
    max-width: 442px;
height: 1px;
background: #ECDDCD;
opacity: 0.5;
border-radius: 10px;
margin-left: 6px;
}

.content-card-item-about .link{
    display: flex;
    align-items: center;
    
}

.content-card-item-about .link p{
    margin-right: 14px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.3em;
    text-decoration-line: underline;
    text-decoration-color: #DCC37D;
    background: linear-gradient(180deg, #D9AE46 0%, #E4BF72 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
/* footer */
.top-footer{
    height:345px;
    background: #111122;
    display: flex;
    align-items:center;
    justify-content:space-evenly;
}

.top-footer .contact .title-contact{
    font-weight: 400;
font-size: 56px;

text-align: left;
margin-bottom: 24px;
}
.top-footer .contact p{
    text-align: left;
    font-weight: 600;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.1em;
text-transform: uppercase;
margin-bottom: 10px;
}

.top-footer .follow-us .title-follow-us{
    font-weight: 400;
font-size: 56px;

margin-bottom: 20px;
}

.top-footer .follow-us span{
    font-size: 23px;
    font-weight: 400;
    color: #ECDDCD;
    margin-right: 25px;
}
.top-footer .follow-us span:hover{
    color: #DCC37D
}
.bot-footer{
    display:flex;
    align-items: center;
    background: #1B1B2D;
    height: 127px;

}
.bot-footer .bot-left-footer{
    width: 50%;
    display:flex;
    align-items: center;
    padding-left: 150px;
    justify-content: space-around;
}

.bot-left-footer .group-1{
    display:flex;
    align-items:center;
}
.bot-left-footer .group-1 .text-1{
    margin-right: 34px;
}

.bot-left-footer .group-2{
    display:flex;
    align-items:center;
}

.bot-left-footer .group-2 .logo-2-bot-footer{
    margin: 0 26px 0 28px;
}

.bot-footer .bot-right-footer{
    padding-right: 74px;
    width:50%;
    text-align: right;
}

.bot-footer .bot-right-footer .item-1, .bot-footer .bot-right-footer .item-2{
    border-right: 1px solid #FFFFFF;
    padding-right: 11px;
    margin-right: 16px;
}

.bot-right-footer .bot-right-footer-item{
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #FFFFFF;
}