@media(min-width: 1024px){
    .hide-on-pc{
        display: none
    }
}

@media(min-width: 769px) and (max-width: 1023px){
    .hide-on-tablet{
        display:none;
    }
}

@media(max-width: 739px){
    .hide-on-mobile{
        display: none;
    }   
    .header-mobile{
        display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    }

    .content-banner-title{
        font-size: 32px;
        max-width: 270px;
    }

    .content-banner-text{
        font-size:12px;
        max-width:322px;
        margin-bottom: 13px;
    }

}